<launch>
    <arg name="config" default='vicon' />
<!--     <arg name="num" type="int" default=1 /> -->
    <param name="config" value="$(arg config)" />

    <node pkg="uav3" type="rl_param_opt.py" name="uav3_rl_param_opt" output="screen" />
    <node pkg="uav3" type="control_consensus.py" name="uav3_control_consensus" output="screen">
        <rosparam file="$(find master)/config/$(arg config)/global_config_$(arg config).yaml" command="load" />
        <rosparam file="$(find master)/config/$(arg config)/uav3_config_$(arg config).yaml" command="load" />
    </node>
</launch>
