<launch>
    <node pkg="uav1" type="rl_param_opt.py" name="uav1_rl_param_opt" output="screen" />
    <node pkg="uav1" type="control_consensus.py" name="uav1_control_consensus" output="screen">
        <rosparam file="$(find uav1)/config/vicon/uav1_config_consensus.yaml" command="load" />
    </node>
</launch>